@model TaskControl.Models.UserViewModel

@{
    ViewBag.Title = Resources.Resources.Details_Label;
}

<h2>@Resources.Resources.Details_Label</h2>

<img src="~/Content/images/user.png" />

<div>
    <h4>@Resources.Resources.User_Label</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           @Resources.Resources.Username_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
           @Resources.Resources.FirstName_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
          @Resources.Resources.LastName_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
           @Resources.Resources.Email_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
          @Resources.Resources.PhoneNumber_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
           @Resources.Resources.RoleName_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Resources.Edit_Link, "EditUser", new {  userId = Model.UserId }) |
    @Html.ActionLink(Resources.Resources.BackToList_Link, "Index")
</p>
