@using TaskControl.Models

@model  UserInRoleViewModel
@{
  ViewBag.Title = Resources.Resources.АddUserToRole_Button;
}


  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">@Resources.Resources.АddUserToRole_Button</h3>
      </div>

      <div class="modal-body">
        @using (Ajax.BeginForm("AddUserToRole", "Roles", new AjaxOptions
        {
          HttpMethod = "POST",
          OnSuccess = "addUserToRoleSuccess()",
         // OnFailure = "addUserToRoleFailure()"

        }))
        {

      <div class="form-group">
        @Resources.Resources.UserRole_Label
        @Html.DropDownListFor(x => x.RoleId, Model.UserRoles, "Select Role", new { @class = "form-control" })
      </div>
      <div class="form-group">
        @Resources.Resources.User_Label
        @Html.DropDownListFor(x => x.UserId, Model.Users, "Select User", new { @class = "form-control" })
      </div>





      <button type="submit" class="btn btn-primary">@Resources.Resources.SaveChanged_Button</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Resources.Close_Button</button>



        }

      </div>

      </div>
    </div>
  

<div class="modal fade" id="OKModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Success!
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function addUserToRoleSuccess()
  {
    $('#OKModal').modal('show');
  }
</script>
