@using TaskControl.Models

@model  RoleViewModel
@{
  ViewBag.Title = Resources.Resources.NewRole_Label;
  string newRoleUrl = Url.Action("NewRole", "Roles");
  string rolesIndex = Url.Action("Index", "Roles");
}


<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">@Resources.Resources.CreateNewRole_Title</h3>
		</div>

		<div class="modal-body">
			@using (Ajax.BeginForm("NewRole", "Roles", new AjaxOptions
			{
				HttpMethod = "POST",
				OnSuccess = "newRoleSuccess()",
        
       // OnComplete = "MakeAjaxCall()"
				// OnFailure = "addUserToRoleFailure()"

			}))
			{


			<div class="form-group">
				<label for="UserName">@Resources.Resources.RoleName_Label</label>
				<div class="col-10">
					@Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", @id = "rolename" })
					@Html.ValidationMessageFor(model => model.RoleName)
				</div>
			</div>

			<div class="form-group">
				<label for="UserName">@Resources.Resources.Description_Label</label>
				<div class="col-10">
					@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @id = "description" })
					@Html.ValidationMessageFor(model => model.Description)
				</div>
			</div>

      <div class="form-group">
        <div class="col-10">
          <div class="panel panel-default">
            <div class="panel-heading">@Resources.Resources.ProjectAccess_Title</div>

            <!-- List group -->
            <ul class="list-group">
              @foreach (var project in Model.ProjectsAccess)
              {
                <li class="list-group-item">
                 @project.Name
                  <div class="material-switch pull-right">
                    <input id="@project.Id"  type="checkbox" class="projectCheckbox" />
                    <label for="@project.Id" class="label-primary"></label>
                  </div>
                </li>
              }

            </ul>
          </div>
        </div>
      </div>

			<button type="submit" class="btn btn-primary" id="submit">@Resources.Resources.SaveChanged_Button</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Resources.Close_Button</button>


			}

		</div>

	</div>
</div>


<div class="modal fade" id="OKModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Success!
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function newRoleSuccess()
  {
	  $('#OKModal').modal('show');
	}
	var projectIds = [];


	$("#submit").click(function (e) {
	  e.preventDefault();
	  debugger;
	
	  var modelObj = {};
	  modelObj.RoleName = $('#rolename').val();
	  modelObj.Description = $('#description').val();
	  modelObj.Id = 0;
	  modelObj.DateCrated = null;
	  modelObj.ProjectList = projectIds;

	  var postObj = JSON.stringify(modelObj); // convert object to json
	  var postList = JSON.stringify(projectIds);

	  $.ajax({
	    type: 'POST',
	    data: JSON.stringify(modelObj),
	    url: '@newRoleUrl',
	    dataType: "json",
	    contentType: "application/json; charset=utf-8",
	    cache: false,
	    success: function (result) {
	      if (result.success) {
	        $("#newRoleModal").modal('hide');
	        window.location.href = '@rolesIndex';
	    }
	      if (result == false) {
	      alert("There was an error submitting the form. Fill in all of the form fields with no errors.");
	    }
	  },
	  error: function (response) {
	   // alert("There was an error submitting the form. Fill in all of the form fields with no errors.");
	  }
	  });
	});


	$(document).ready(function () {
	  //var projectIds = [];
	 
	  $(".projectCheckbox").change(function (e) {
	  
	      debugger;

	      var id = e.currentTarget.id;
	      if($('#' + id).is(":checked"))
	      {
	        projectIds.push(id);
	      }
	      else
	      {
	        projectIds.pop(id);
	      }
	    
	  });


	});
</script>
