@using TaskControl.Models
@model TaskControl.Models.ChangeLanguageViewModel
@{
    ViewBag.Title = Resources.Resources.ChangeLanguage_Title;
}

<h2>@ViewBag.Title</h2>

<img src="~/Content/images/lang.png" />

@using (Html.BeginForm("ChangeLanguage", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <p>@Resources.Resources.CurrentLanguage_Label</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
         @*@Html.DropDownList("Language", EnumHelper.GetSelectList(typeof(LanguagesEnum)), "Select Language", new { @class = "form-control" })*@
          @Html.EnumDropDownListFor(x => x.UserLanguage, "Select Language", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resources.Resources.Change_Button" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}