@model TaskControl.Models.ProjectViewModel

@{
  ViewBag.Title = "New";

  var userNames = ViewBag.Usernames;
}

<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />

<h2>New</h2>

@using (Html.BeginForm("Create", "Project", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>ProjectViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
     
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
      
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control autoasignee" } })
                @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
              @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5", @placeholder= "description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

   

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
          </div>
        </div>
      </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
  $(document).ready(function () { // will trigger when the document is ready

		$('.datepicker').datepicker(); //Initialise any date pickers

		var availableUsers = @Html.Raw(userNames);

		$(".autoasignee").autocomplete({
		  source: availableUsers
		});

    });
</script>