@model TaskControl.Models.ProjectViewModel

@{
  ViewBag.Title = Model.Name;
  string urlNewProjectComment = Url.Action("AddNewNote", "Project");
}

<h2>@Resources.Resources.Details_Label</h2>

<div id='newProjectCommentModal' class="modal fade" role="dialog" tabindex="-1" data-url='@urlNewProjectComment'>

</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Resources.Resources.Name_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
          @Resources.Resources.Owner_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
           @Resources.Resources.Description_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
          @Resources.Resources.InProgressCount_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InProgressCount)
        </dd>

        <dt>
          @Resources.Resources.CompletedCount_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedCount)
        </dd>

        <dt>
            @Resources.Resources.ToDoCount_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDoCount)
        </dd>

        <dt>
          @Resources.Resources.TotalProgress_Label
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalProgress) %
        </dd>

    </dl>

  <!-- comment box starts -->
  <div class="detailBox">
    <div class="titleBox">
      <label>@Resources.Resources.ProjectNotes_Title</label>
    </div>
    <div class="commentBox">


    </div>
    <div class="actionBox">
      @if (Model.Notes != null && Model.Notes.Count > 0)
      {
      <ul class="commentList">
        @foreach (var comment in Model.Notes)
        {
          <li>
            <div class="commentItem">
              <div class="commenterImage">
                <b>@comment.AuthorName</b> @Resources.Resources.AddedANote_Text <span class="date sub-text">@comment.CommentDate</span>
              </div>
              <br />
              <div class="commentText">
                <p>@comment.Note</p>
              </div>
            </div>
          </li>


        }
        </ul>
      }
        <form class="form-inline" role="form">
          @*<div class="form-group">
            <input class="form-control" type="text" placeholder="Your comments" />
          </div>*@
            @using (Ajax.BeginForm("AddNewNote", "Project", new AjaxOptions
            {
              HttpMethod = "POST",
              //OnSuccess = "addUserToRoleSuccess()",
              // OnFailure = "addUserToRoleFailure()"

            }))
            {
              @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @id = "projectId" } })


                <div class="form-group">
                  <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentComment, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                    @Html.ValidationMessageFor(model => model.CurrentComment, "", new { @class = "text-danger" })
                  </div>
                </div>

              <div class="form-group">
                <div>
                  <button class="btn btn-default" id="addNote" type="submit">@Resources.Resources.Add_Button</button>
                  </div>
                </div>
            }
         
        </form>
      </div>

  </div>
  <!-- comment box ends -->
</div>
@*<div class="col-md-10">
  <button id='addNewNote' class="btn btn-secondary btn-success">Add New Note</button>
</div>*@
<p>
    @Html.ActionLink(Resources.Resources.Edit_Link, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.Resources.BackToList_Link, "Index")
</p>


<script type="text/javascript">
  $(document).ready(function () {

    $('#addNewNote').click(function () {
      var url = $('#newProjectCommentModal').data('url');

      $.get(url, function (data) {
        $('#newProjectCommentModal').html(data);

        $('#newProjectCommentModal').modal('show');
      });
    });

    $("#addNote").click(function (e) {
      e.preventDefault();
      AddNew();
    });

    function AddNew() {
      debugger;
      var modelObj = {};
      modelObj.Note = $("#CurrentComment").val();
      modelObj.ProjectId = $("#Id").val();

      // exucute ajax call to add new note
      $.ajax({
        type: "POST",
        url: '@urlNewProjectComment',
        data: JSON.stringify(modelObj),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
          location.reload();
        },
        error: function (result) {
          //alert('error');
        }
      });
    }

  });

</script>