<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaskControl </title>
  <meta name="google-signin-client_id" content="517257882530-6d4vm0p56qjn3prdo08nrsbvvmiv0m6e.apps.googleusercontent.com">


  <link rel="stylesheet" href="~/Content/dist/css/app.min.css">
  <link rel="stylesheet" href="~/Content/site.css">
  <link rel="stylesheet" href="~/Content/fullcalendar.min.css" />
  <link rel="stylesheet" href="~/Content/fullcalendar.print.css" media="print"/>
  <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
 
  <link rel="shortcut icon" href="~/Content/images/TaskControlICO.ico" />

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  
  <script src="~/Scripts/jquery-bundle.min.js"></script>
  <script src="~/Scripts/jqueryui-bundle.min.js"></script>
  <script src="~/Scripts/moment.min.js"></script>
  <script src="~/Scripts/bootstrap-bundle.min.js"></script>
  <script src="~/Scripts/modernizer-min.js"></script>

  <script src="~/Scripts/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.2/locale/sr-cyrl.js"></script>
  <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				@*<img src="~/Content/images/favicon.ico" />
                @Html.ActionLink("Task Control", "Index", "Project", new { area = "" }, new { @class = "navbar-brand" })*@
				
				
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><img src="~/Content/images/TaskControlIcon.png" class="logo" /></li>
                    <li>@Html.ActionLink(@Resources.Resources.Home_Menu_Item, "Index", "Dashboard")</li>
										<li>@Html.ActionLink(@Resources.Resources.Projects_Menu_Item, "Index", "Project")</li>
										<li>@Html.ActionLink(@Resources.Resources.Tasks_Menu_Item, "Index", "Task")</li>
                    <li>@Html.ActionLink(@Resources.Resources.Calendar_Menu_Item, "Calendar", "Dashboard")</li>
										<li>@Html.ActionLink(@Resources.Resources.Users_Menu_Item, "Index", "User")</li>
										<li>@Html.ActionLink(@Resources.Resources.Roles_Menu_Item, "Index", "Roles")</li>
										<li>@Html.ActionLink(@Resources.Resources.About_Menu_Item, "About", "Home")</li>
										<li>@Html.ActionLink(@Resources.Resources.Contact_Menu_Item, "Contact", "Home")</li>
                    
					
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
      <div id="dialogPlaceholder"></div>
        @RenderBody()
        <hr />
        <footer>
            <p><span class="glyphicon glyphicon-copyright-mark"></span> @DateTime.Now.Year - TaskControl </p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
